@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
	.cp-scrollbar {
		&::-webkit-scrollbar {
			@apply cp-w-2 cp-h-2;
		}

		&::-webkit-scrollbar-track {
			@apply cp-bg-gray-100 cp-rounded-r dark:cp-bg-gray-900;
		}

		&::-webkit-scrollbar-thumb {
			@apply cp-bg-gray-900 cp-rounded-r dark:cp-bg-gray-400;
		}

		&::-webkit-scrollbar-thumb:hover {
			@apply cp-bg-gray-500;
		}
	}
}
